{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/todo.css">

    <button class="openbtn" onclick="toggleSidebar()">☰ Menu</button>

    <div id="sidebar" class="sidebar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="#">Time Table</a>
        <a href="#">Daily Expense</a>
        <a href="#">Reports</a>
    </div>


    <div class="todo_container">
        <h2>My Todo List</h2>
        <button class="add_button" onclick="taskFormPopup()">Add Task</button>
        
        <table id="taskTable" class="task_table">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Task</th>
                    <th>Date</th>
                    <th>Deadline</th>
                    <th>Delete</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="taskTableBody"></tbody>
        </table>
    </div>

    <!-- Pop-up form for adding tasks -->
    <div class="task_form" id="taskForm">
        <div class="form_content">
            <label for="add_task">Enter the Task:</label><br>
            <textarea id="add_task" name="task" rows="3" cols="30" placeholder="Enter the task here...."></textarea><br>
            <label for="myDate">Deadline:</label>
            <input type="date" id="myDate" name="myDate"><br>
            <button id="submit_task" onclick="addTaskFunction(event)">Submit</button>
        </div>        
    </div>

    <script src="{{ url_for('static', filename='js/todo.js') }}"></script>
{% endblock %}
